@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
</head>
<body>
    <header>
        <h1><a asp-action="get" asp-controller="home">@ViewData["pagetitle"]</a></h1>
        <nav>
            <ul>
                <li><a asp-action="get" asp-controller="project">Projects</a></li>
                <li><a asp-action="get" asp-controller="sprint">Sprints</a></li>
                <li><a asp-action="get" asp-controller="backlog">Backlog</a></li>
                <li><a asp-action="get" asp-controller="task">Tasks</a></li>
                <li><a asp-action="get" asp-controller="user">Users</a></li>
                <li><a asp-action="get" asp-controller="step">Steps</a></li>
            </ul>
        </nav>
    </header>
    <main>@RenderBody()</main>
    <footer></footer>
</body>
</html>
